<?xml version="1.0" encoding="UTF-8" ?>
<taglib
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
        version="2.1">

    <description>WebJars Tags Library</description>
    <display-name>WebJars Tags</display-name>
    <tlib-version>1.2</tlib-version>
    <short-name>webjars</short-name>
    <uri>/webjars-tags</uri>

    <tag>
        <description>
            Renders the asset full path, including the context path, for a given WebJar.
        </description>
        <name>asset</name>
        <tag-class>org.example.web.taglib.WebJarAssetTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <description>WebJar name</description>
            <name>webjar</name>
            <required>true</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
        <attribute>
            <description>Resource path after the webjar version</description>
            <name>path</name>
            <required>true</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
    </tag>

</taglib>